// Roboto Font
$fontsRoot: '/fonts/';

// Open Sans Font
$opensansFontRoot: $fontsRoot + 'opensans/';
$opensansFontVersion: "1.10";
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: local('OpenSans Light'), url($opensansFontRoot+'OpenSans-Light.ttf?v='+$opensansFontVersion) format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: local('OpenSans Regular'), url($opensansFontRoot+'OpenSans-Regular.ttf?v='+$opensansFontVersion) format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    src: local('OpenSans Regular'), url($opensansFontRoot+'OpenSans-Regular.ttf?v='+$opensansFontVersion) format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: local('OpenSans SemiBold'), url($opensansFontRoot+'OpenSans-SemiBold.ttf?v='+$opensansFontVersion) format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 900;
    src: local('OpenSans Bold'), url($opensansFontRoot+'OpenSans-Bold.ttf?v='+$opensansFontVersion) format('truetype');
}

// Orbitron Font
$orbitronFontRoot: $fontsRoot + 'orbitron/';
$orbitronFontVersion: "2.000";
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron Regular'), url($orbitronFontRoot+'Orbitron-Regular.ttf?v='+$orbitronFontVersion) format('truetype');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local('Orbitron SemiBold'), url($orbitronFontRoot+'Orbitron-SemiBold.ttf?v='+$orbitronFontVersion) format('truetype');
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    src: local('Orbitron Bold'), url($orbitronFontRoot+'Orbitron-Bold.ttf?v='+$orbitronFontVersion) format('truetype');
}

// Roboto Font
$robotoFontRoot: $fontsRoot + 'roboto/';
$robotoFontVersion: "2.137";
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), url($robotoFontRoot+'Roboto-Light.ttf?v='+$robotoFontVersion) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), url($robotoFontRoot+'Roboto-Regular.ttf?v='+$robotoFontVersion) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: local('Roboto Medium'), url($robotoFontRoot+'Roboto-Medium.ttf?v='+$robotoFontVersion) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), url($robotoFontRoot+'Roboto-Bold.ttf?v='+$robotoFontVersion) format('truetype');
}

// Roboto Mono Font
$robotoMonoFontRoot: $fontsRoot + 'roboto-mono/';
$robotoMonoFontVersion: "2.000985";
@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 300;
    src: local('RobotoMono Light'), url($robotoMonoFontRoot+'RobotoMono-Light.ttf?v='+$robotoMonoFontVersion) format('truetype');
}
@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoMono Regular'), url($robotoMonoFontRoot+'RobotoMono-Regular.ttf?v='+$robotoMonoFontVersion) format('truetype');
}
@font-face {
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 600;
    src: local('RobotoMono Medium'), url($robotoMonoFontRoot+'RobotoMono-Medium.ttf?v='+$robotoMonoFontVersion) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('RobotoMono Bold'), url($robotoMonoFontRoot+'RobotoMono-Bold.ttf?v='+$robotoMonoFontVersion) format('truetype');
}
