$assetsRoot: "../../assets/";
$imgRoot: $assetsRoot+"img/";

// status colors
$debug-grey:#DDD;
$info-blue:#0088FF;
$warning-orange:#FF8800;
$error-red:#F44;

// classification colors
$unclassified-color: #080;
$confidential-color: #00F;
$secret-color:#F00;
$top-secret-color: #FF8800;


/* Default Titan CSS overrides to make things a little bit nicer ------------------------------- */
.dragdrop {
    cursor: move;
}

.constructor-container header {
    cursor: move;
    h3 {
        cursor: move;
        margin-left: 24px;
    }
}
th {
    text-align: left;
}

/* Widget Specific Styling --------------------------------------------------------------------- */

/* Highlight of the widget when focus is lost/gained */

body {
    border: 1px solid grey;
    &.active {
        border: 1px solid #37BFFF;
    }
}

/* inherit default font settings */

textarea {
    font-family: inherit;
    font-size: inherit;
}

/* Generic styling */

.padTop { padding-top: 10px; }
.padTop-3 { padding-top: 3px; }

.pull-left { float: left; }
.pull-right { float: right; }

.pull-down-2 { margin-top: 2px; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.align-center { text-align: center; }
.valign-top { text-align: left; }

.valign-center {
    align-items: center;
}

.valign-bottom {
    align-items: flex-end;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.v-scroller {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroller {
    overflow: auto;
    height: 260px;
}

.inset-border {
    border: 1px gray solid;
    border-top: 1px black solid;
    border-left: 1px black solid;
}

.ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none !important;
}

.clear-float {
    clear: both;
}

.cursor-wait {
    cursor: wait;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Allows to create grids inside divs */

.grid-83 {
    width: 83%;
    float: left;
}

.grid-80 {
    width: 80%;
    float: left;
}

.grid-78 {
    width: 78%;
    float: left;
}

.grid-70 {
    width: 70%;
    float: left;
}

.grid-60 {
    width: 60%;
    float: left;
}

.grid-55 {
    width: 55%;
    float: left;
}

.grid-50 {
    width: 50%;
    float: left;
}

.grid-45 {
    width: 45%;
    float: left;
}

.grid-43 {
    width: 43%;
    float: left;
}

.grid-40 {
    width: 40%;
    float: left;
}

.grid-30 {
    width: 30%;
    float: left;
}

.grid-20 {
    width: 20%;
    float: left;
}

.grid-15 {
    width: 15%;
    float: left;
}

.grid-14 {
    width: 14%;
    float: left;
}

.grid-12 {
    width: 12%;
    float: left;
}

.grid-10 {
    width: 10%;
    float: left;
}

/* Manual select button style */

.btn {
    border: 1px solid #47d1ff;
    color: #47d1ff;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 2px;

    &.active {
        background-color: #4899bf;
        color: white;
    }

    &.disabled {
        color: silver;
        border: silver 1px solid;
    }
}

/* styles to create a right and cross marks */

.checkmark {
    display: inline-block;
    border: solid 1px;
    width: 10px;
    height: 10px;
    background: #37BFFF;
    border-radius: 50%;
    transform: rotate(45deg);

    &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 7px;
        background-color: white;
        left: 5px;
        top: 1px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 5px;
        height: 2px;
        background-color: white;
        left: 2px;
        top: 6px;
    }
}

.crossmark {
    display: inline-block;
    border: solid 1px;
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 50%;
    transform: rotate(45deg);

    &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 8px;
        background-color: white;
        left: 4px;
        top: 1px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 2px;
        background-color: white;
        left: 1px;
        top: 4px;
    }
}

#memProgress {
    background-color: #ddd;
}

#memProgressBar {
    width: 1%;
    height: 20px;
    background-color: #4CAF50;
    text-align: right;
}

#activeSidebar {
    position: absolute;
    right: 0;
    padding: 5px;
    height: 100%;
    width: 40px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #486277), color-stop(100%, #252525));
    border: 1px solid grey;
    font-weight: bold;
    text-shadow: 2px 2px #383735;
    opacity: 0.8;
    overflow: hidden;
    color: white;
    font-family: Verdana, Arial, sans-serif;
}

/* Forms */

input:disabled,
select:disabled {
    cursor: not-allowed;
    background-color: #222;
    color: #666;
    background-image: url($imgRoot+'disabled-input-bg-tile.png');
}

input:focus,
text-area:focus,
select:focus {
    box-shadow: 0px 0px 1px rgb(64, 128, 255), 0px 0px 2px rgb(64, 128, 255), 0px 0px 4px rgb(64, 128, 255);
}

@mixin field-error-style
{
    margin:1px;
    color: $error-red;
    background: darken($error-red, 30%); /*rgb(64, 0, 0)*/
    border: saturate( $error-red, 20% );
    box-shadow: 0px 0px 1px $error-red, 0px 0px 2px $error-red, 0px 0px 4px $error-red;
}
div.error {
    > input, > textarea, > select
    {
        @include field-error-style;
    }
}
input, textarea, select
{
    &.error, &.error:focus
    {
        @include field-error-style;
    }
}

.inputButton {
    &.disabled {
        color: silver;
        text-shadow: 0 0 rgba(0, 0, 0, 0);
        background: transparent;
        border: silver 1px solid;
        cursor: default;

        &:hover {
            color: silver;
            text-shadow: 0 0 rgba(0, 0, 0, 0);
            background: transparent;
            border: silver 1px solid;
            cursor: default;
        }
    }

    &.executing {
        background: #47d1ff;
        color: white;

        &:hover {
            background: #47d1ff;
            color: white;
        }
    }
}

/* Look and Feel */
.small {
    font-size: 70%;
}

$icon-small-size: 16px;
$icon-medium-size: 24px;
$icon-large-size: 32px;
$icon-xlarge-size: 64px;
.icon {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: $icon-large-size;
    height: $icon-large-size;
    background-size: $icon-large-size;
    &.small {
        width: $icon-small-size;
        height: $icon-small-size;
        background-size: $icon-small-size;
    }
    &.medium {
        width: $icon-medium-size;
        height: $icon-medium-size;
        background-size: $icon-medium-size;
    }
    &.large {
        width: $icon-large-size;
        height: $icon-large-size;
        background-size: $icon-large-size;
    }
    &.xlarge {
        width: $icon-xlarge-size;
        height: $icon-xlarge-size;
        background-size: $icon-xlarge-size;
    }

    &.fileExists {       background-image: url($imgRoot+'job/file-exists.png');}

    &.datasources {      background-image: url($imgRoot+'datasource.png'); }
    &.datasources-plus { background-image: url($imgRoot+'datasource-plus.png'); }
    &.datasource {       background-image: url($imgRoot+'module/datasource.png');
        &.geoserver {        background-image: url($imgRoot+'module/geoserver/icon.png'); }
        &.file {             background-image: url($imgRoot+'module/file/datasource.png');}
    }

    &.jobs {             background-image: url($imgRoot+'job.png'); }
    &.jobs-plus {        background-image: url($imgRoot+'job-plus.png'); }
    &.job {              background-image: url($imgRoot+'job/job.png');
        &.populateBuildings,
        &.populateBuildingsOffline { background-image: url($imgRoot+'job/populateBuildings/icon.png'); }
        &.shapeExport {              background-image: url($imgRoot+'job/exportData/icon.png'); }
        &.clearArea {                background-image: url($imgRoot+'job/clearArea/icon.png'); }
        &.permafy {                  background-image: url($imgRoot+'job/permafy/icon.png'); }
        &.populateRandomObjects {    background-image: url($imgRoot+'job/populateRandomObjects/icon.png'); }
    }

    &.picking-lists {      background-image: url($imgRoot+'picking-list.png'); }
    &.picking-lists-plus { background-image: url($imgRoot+'picking-list-plus.png'); }
    &.picking-list {       background-image: url($imgRoot+'picking-list/picking-list.png'); }

    &.city-profile {       background-image: url($imgRoot+'city-profile.png'); }
    &.city-profiles-plus { background-image: url($imgRoot+'city-profile-plus.png'); }
}

.indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background: radial-gradient(ellipse at center, #bcbcbc 0%, #707070 80%, #000000 100%);

    &.off,
    &.grey {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        background: radial-gradient(ellipse at center, #bcbcbc 0%, #707070 80%, #000000 100%);

        /* for UI testing in Firefox */
    }

    &.green {
        box-shadow: 0px 0px 4px rgba(128, 255, 0, 0.5);
        background: radial-gradient(ellipse at center, #88ff00 0%, #00ff00 80%, #000000 100%);

        /* for UI testing in Firefox */
    }

    &.amber {
        box-shadow: 0px 0px 4px rgba(255, 128, 0, 0.5);
        background: radial-gradient(ellipse at center, #ff8800 0%, #ff4400 80%, #000000 100%);

        /* for UI testing in Firefox */
    }

    &.red {
        box-shadow: 0px 0px 4px rgba(128, 0, 0, 0.5);
        background: radial-gradient(ellipse at center, #ff0000 0%, #880000 80%, #000000 100%);

        /* for UI testing in Firefox */
    }

    &.blue {
        box-shadow: 0px 0px 4px rgba(0, 0, 128, 0.5);
        background: radial-gradient(ellipse at center, #0088ff 0%, #0044ff 80%, #000000 100%);

        /* for UI testing in Firefox */
    }
}

.clickable {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
        cursor: pointer;
        opacity: 1.0;
    }
}

img.desaturate {
    filter: grayscale(100%);
    opacity: 0.5;
}

div.desaturate {
    opacity: 0.75;
}

#message-area {
    padding-top: 10px;
    width: 500px;
    height: 50px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: opacity 0.333s ease-out;

    opacity: 0.0;

    &.visible {
        opacity: 1.0;
    }
}

#confirmation-dialog-mask,
#form-dialog-mask {
    /* Flexbox layout */
    display: flex;

    /* for UI testing in Firefox */
    justify-content: center;

    /* for UI testing in Firefox */
    align-items: center;

    /* for UI testing in Firefox */
    /* general appearance */
    z-index: -99999;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    transition: opacity 0.333s ease-out;

    /* for UI testing in Firefox */
    opacity: 0.0;
}

#confirmation-dialog,
#form-dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* general appearance */
    border-radius: 2px;
    border: 2px solid #111;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 1);
    background-color: rgba(32, 32, 32, 0.9);
    width: 50%;
    height: 30%;
}

#prompt-dialog-mask {
    padding-top: 30px;
    text-align: center;
    opacity: 0.0;
}

#form-dialog {
    width: 80%;
    height: 80%;
}

#confirmation-dialog-heading,
#form-dialog-heading {
    background-color: rgba(0, 0, 0, 1);
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#form-dialog-content {
    /* Flexbox layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#confirmation-dialog-prompt {
    text-align: center;
    margin: auto;
}

.classification {
    font-weight: bold;
    color: white;
    background: silver;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    &.unclassified {
        background: $unclassified-color;
        border-top: 1px solid darken($unclassified-color, 10%);
        border-bottom: 1px solid darken($unclassified-color, 10%);
    }

    &.confidential {
        background: $confidential-color;
        border-top: 1px solid darken($confidential-color, 10%);
        border-bottom: 1px solid  darken($confidential-color, 10%);
    }

    &.secret {
        background: $secret-color;
        border-top: 1px solid darken($secret-color, 10%);
        border-bottom: 1px solid darken($secret-color, 10%);
    }

    &.top-secret {
        background: $top-secret-color;
        border-top: 1px solid darken($top-secret-color, 10%);
        border-bottom: 1px solid darken($top-secret-color, 10%);
    }
}

div {
    &.button-bar {
        /* Flexbox layout */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 2px;
    }

    &.card {
        margin: 6px;
        padding: 0px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        border: 1px #444 solid;
    }
}

.detail-pane,
.list-pane {
    height: 280px;
}

.list-pane {
    width: 400px;
    float: left;
}

.detail-pane {
    width: 443px;
    float: right;
    overflow: hidden;
}

.info-container
{
    width: 99%;
    /* Flexbox layout */
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

/* --------------------------------------------------------------------------------------------- */
/*	General Data Source List Item Styling */

div {
    &.datasource-list-item,
    &.picking-list-list-item,
    &.city-profile-list-item,
    &.job-list-item {
        /* Flexbox layout */
        display: flex;
        flex-direction: row;
        align-items: center;

        /* size */
        max-width: 370px;
        height: 75px;
        cursor: pointer;
    }

    &.job-list-item {
        /* size */
        height: 95px;
    }
}

.list-item:hover
{
    &:hover{background: #0088FF;}
    &.active{background: #00BBFF;}
    &.active:hover{background: #00DDFF;}

}

.list-item>.classification,
.list-item>.classification {
    width: 10px;
    height: 100%;
    float: left;
    margin-right: 2px;
}

.list-item table
{
    width: 300px;
    max-width: 300px;
}

.list-item .content
{
    max-width: 400px;
    overflow: hidden;
}

/* --------------------------------------------------------------------------------------------- */
/*	Geoserver Data Source List Item Styling */

.list-item .content.geoserver {
    /* Flexbox layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    .summary {
        /* Flexbox layout */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .classification {
        min-width: 10px;
        height: 75px;
        margin-right: 2px;
    }

    .icon {
        margin-right: 2px;
    }

    .summary .summary-item {
        /* Flexbox layout */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 340px;
        max-width: 340px;

        .summary-item-heading {
            font-weight: bold;
            width: 10em;
            max-width: 10em;
            min-width: 9em;
            display: inline-block;
        }

        .summary-item-value {
            display: inline-block;
        }
    }
}

/* end Geoserver Data Source List Item Styling ------------------------------------------------- */

/* --------------------------------------------------------------------------------------------- */
/*	General Data Source Detail Styling */

.detail-pane {
    .datasource-header {
        display: inline-block;
        font-weight: bold;
        font-size: 1.5em;
    }

    .content.geoserver .detail-item-value {
        &.notes {
            height: 61px;
            max-height: 61px;
            margin-bottom: 3px;
            cursor: default;
            width: 98%;
        }

        &.logging {
            height: 61px;
            max-height: 61px;
            margin-bottom: 3px;
            cursor: default;
            width: 98%;

            ol {
                padding: 0px;

                li span {
                    display: inline-block;
                    width: 5em;
                    &.debug {
                        color: $debug-grey;
                    }

                    &.info {
                        color: $info-blue;
                    }

                    &.warn {
                        color: $warning-orange;
                    }

                    &.error {
                        color: $error-red;
                    }
                }
            }
        }
    }
}

/* end Geoserver Data Source Details Styling ------------------------------------------------- */

/* --------------------------------------------------------------------------------------------- */
/*	General Data Source Form Styling */

.new-datasource-dialog-title {
    height: 32px;
    padding-left: 48px;
    padding-top: 8px;
    background-image: url($imgRoot+'module/geoserver/icon32.png');
    background-position: left center;
    background-repeat: no-repeat;
}

/* end General Data Source Form Styling -------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------- */
/*	GeoServer Data Source Form Styling */

#datasource-geoserver-edit-form textarea {
    font-family: sans-serif;
    font-size: 1em;
}

/* end GeoServer Data Source Form Styling ------------------------------------------------------ */

/* --------------------------------------------------------------------------------------------- */
/*	Picking List Detail Styling */

.list-pane {
    .picking-list-header {
        display: inline-block;
        font-weight: bold;
        font-size: 1.5em;
    }

    .detail-item-value.active-models {
        height: 130px;
        max-height: 130px;
        margin-bottom: 3px;
        cursor: default;
    }
}

.detail-item-value.notes {
    height: 70px;
    max-height: 70px;
    margin-bottom: 3px;
    cursor: default;
    width: 98%;
}

/* end Picking List Details Styling ------------------------------------------------- */

/* --------------------------------------------------------------------------------------------- */
/*	City profile Detail Styling */

.detail-pane {
    .city-profile-header {
        display: inline-block;
        font-weight: bold;
        font-size: 1.5em;
    }

    .detail-item-value.active-models {
        height: 50px;
        max-height: 50px;
        margin-bottom: 3px;
        cursor: default;
    }
}

.detail-item-value.notes {
    height: 70px;
    max-height: 70px;
    margin-bottom: 3px;
    cursor: default;
    width: 98%;
}

/* end Picking List Details Styling ------------------------------------------------- */

/* --------------------------------------------------------------------------------------------- */
/*	Picking List Form Styling */

#picking-list-edit-form {
    .picking-list-picker {
        width: 100%;

        /* Flexbox layout */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        select {
            flex-grow: 1;
            min-width: 225px;
            max-width: 225px;

            >option {
                /* NOTE ===================================================================================== */
                /* this is needed to allow the 'scroll SELECT to OPTION' in the picking lists can work - you  */
                /* can modify this, if necessary, but don't remove this styling or things will stop working   */
                /* as they should. See further explanation and notes in terrainconnect_forms.js               */
                height: 17px;
                font-size: 17px;
                /* ========================================================================================== */
            }
        }

        .inputButton {
            flex-grow: 0;
        }
    }

    .small {
        font-size: 60%;
    }

    .icon {
        &.available-models {
            background-image: url($imgRoot+'picking-list/available-model.png');
        }

        &.active-models {
            background-image: url($imgRoot+'picking-list/active-model.png');
        }
    }
}

/* end Picking List Form Styling ------------------------------------------------------ */

/* --------------------------------------------------------------------------------------------- */
/*	city-profile Form Styling */

/* end city profile Form Styling ------------------------------------------------------ */

/* --------------------------------------------------------------------------------------------- */
/* Terrain Connect Plugin 'Working' animation */
@keyframes job-running-animation {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 0px -768px;
    }
}

.job-status {
    margin-right: 2px;
    display: block;
    width: 64px;
    height: 64px;

    /*background: url($imgRoot+'job/unknown.png') left center;*/

    &.idle {
        background: url($imgRoot+'job/start.png') left center;
    }

    &.running {
        background: url($imgRoot+'job/job-running-sprite_64x64_12frames.png');
        background-position: 0px 0px;
        background-repeat: no-repeat;
        animation: job-running-animation 1s steps(12) infinite;
    }

    &.completed {
        background: url($imgRoot+'job/completed-success.png') left center;
    }
}

#job-status.completed.success {
    background: url($imgRoot+'job/completed-success.png') left center;
}

.job-status.completed {
    &.warning {
        background: url($imgRoot+'job/completed-warning.png') left center;
    }

    &.failure {
        background: url($imgRoot+'job/completed-failure.png') left center;
    }
}

/*	populateBuildings Job List Item Styling */

.job-list-item .content {
    &.populateRandomObjects,
    &.populateBuildingsOffline,
    &.populateBuildings {
        /* Flexbox layout */
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &.populateRandomObjects .summary,
    &.populateBuildingsOffline .summary,
    &.populateBuildings .summary {
        /* Flexbox layout */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &.populateRandomObjects .icon,
    &.populateBuildingsOffline .icon,
    &.populateBuildings .icon {
        margin-right: 2px;
    }

    &.populateRandomObjects .summary .task,
    &.populateBuildingsOffline .summary .task,
    &.populateBuildings .summary .task {
        text-align: center;
        font-weight: bold;
    }

    &.populateRandomObjects .summary .summary-item,
    &.populateBuildingsOffline .summary .summary-item,
    &.populateBuildings .summary .summary-item {
        /* Flexbox layout */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 270px;
        max-width: 270px;
    }

    &.populateRandomObjects .summary .summary-item .summary-item-heading,
    &.populateBuildingsOffline .summary .summary-item .summary-item-heading,
    &.populateBuildings .summary .summary-item .summary-item-heading {
        font-weight: bold;
        width: 9em;
        max-width: 9em;
        min-width: 9em;
        display: inline-block;
    }

    &.populateRandomObjects .summary .summary-item .summary-item-value,
    &.populateBuildingsOffline .summary .summary-item .summary-item-value,
    &.populateBuildings .summary .summary-item .summary-item-value {
        display: inline-block;
    }

    &.populateRandomObjects .summary .summary-item .summary-item-value.classification,
    &.populateBuildingsOffline .summary .summary-item .summary-item-value.classification,
    &.populateBuildings .summary .summary-item .summary-item-value.classification {
        border-radius: 4px;
        padding: 0 4px 0 4px;
        position: relative;
        left: -4px;
    }
}

#job-populateRandomObjects-edit-form .absolute,
#job-populateBuildingsOffline-edit-form .absolute,
#job-populateBuildings-edit-form .absolute {
    position: absolute;
    right: 20px;
    width: 200px;
    height: 20px;
    font-size: 60%;
}

/* end Populate Buildings Job List Item Styling ------------------------------------------------- */

/*	Shape export  Job List Item Styling */

.job-list-item .content.shapeExport {
    /* Flexbox layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    .summary {
        /* Flexbox layout */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .icon {
        margin-right: 2px;
    }

    .summary {
        .task {
            text-align: center;
            font-weight: bold;
        }

        .summary-item {
            /* Flexbox layout */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 270px;
            max-width: 270px;

            .summary-item-heading {
                font-weight: bold;
                width: 9em;
                max-width: 9em;
                min-width: 9em;
                display: inline-block;
            }

            .summary-item-value {
                display: inline-block;

                &.classification {
                    border-radius: 4px;
                    padding: 0 4px 0 4px;
                    position: relative;
                    left: -4px;
                }
            }
        }
    }
}

#job-shapeExport-edit-form .absolute {
    position: absolute;
    right: 4px;
    width: 200px;
    height: 20px;
    font-size: 60%;
}

/* end Shape export Job List Item Styling ------------------------------------------------- */

/*	clearArea Job List Item Styling */

.job-list-item .content.clearArea {
    /* Flexbox layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    .summary {
        /* Flexbox layout */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .icon {
        margin-right: 2px;
    }

    .summary {
        .task {
            text-align: center;
            font-weight: bold;
        }

        .summary-item {
            /* Flexbox layout */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 270px;
            max-width: 270px;

            .summary-item-heading {
                font-weight: bold;
                width: 9em;
                max-width: 9em;
                min-width: 9em;
                display: inline-block;
            }

            .summary-item-value {
                display: inline-block;

                &.classification {
                    border-radius: 4px;
                    padding: 0 4px 0 4px;
                    position: relative;
                    left: -4px;
                }
            }
        }
    }
}

#job-clearArea-edit-form .absolute {
    position: absolute;
    right: 4px;
    width: 200px;
    height: 20px;
    font-size: 60%;
}

/* end clearArea Job List Item Styling ------------------------------------------------- */

/*	permafy Job List Item Styling */

.job-list-item .content.permafy {
    /* Flexbox layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    .summary {
        /* Flexbox layout */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .icon {
        margin-right: 2px;
    }

    .summary {
        .task {
            text-align: center;
            font-weight: bold;
        }

        .summary-item {
            /* Flexbox layout */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 270px;
            max-width: 270px;

            .summary-item-heading {
                font-weight: bold;
                width: 9em;
                max-width: 9em;
                min-width: 9em;
                display: inline-block;
            }

            .summary-item-value {
                display: inline-block;

                &.classification {
                    border-radius: 4px;
                    padding: 0 4px 0 4px;
                    position: relative;
                    left: -4px;
                }
            }
        }
    }
}

#job-permafy-edit-form .absolute {
    position: absolute;
    right: 4px;
    width: 200px;
    height: 20px;
    font-size: 60%;
}

/* end permafy Job List Item Styling ------------------------------------------------- */

/* --------------------------------------------------------------------------------------------- */
/*	General Job Detail Styling */

.job-detail {
    .job-header {
        display: inline-block;
        font-weight: bold;
        font-size: 1.5em;
    }

    .detail-item-value {

        &.notes,
        &.logging {
            height: 42px;
            max-height: 42px;
            margin-bottom: 3px;
            cursor: default;
            width: 98%;
        }
    }

    .detail-item .detail-item-value.logging ol {
        padding: 0px;
    }

    .detail-item-value.logging ol li span {
        display: inline-block;
        width: 5em;
        &.debug {
            color: $debug-grey;
        }

        &.info {
            color: $info-blue;
        }

        &.warn {
            color: $warning-orange;
        }

        &.error {
            color: $error-red;
        }
    }

    .content.populateBuildings .detail-item-value.classification {
        border-radius: 4px;
        padding: 0 4px 0 4px;
        position: relative;
        left: -4px;
    }
}

/* end general Job Details Styling ------------------------------------------------- */
