$assetsRoot: "assets/";
$imagesRoot: $assetsRoot+"images/";
$fontsRoot:  $assetsRoot+"fonts/";

// transitions ------------------------------------------------------------------------------------
$transition-duration-slow: 0.5s;
$transition-duration-medium: 0.125s;
$transition-duration-fast: 0.08s;

// filters:
$glass-blur: blur(10px);

// colors ------------------------------------------------------------------------------------
// the base color should be the 'accent' color of the interface
$base-color: #08F; // #0088FF, rgba(0,136,255)


$bg-dark: shade( $base-color, 87.5% ); // transforms #0088FF, rgba(0,136,255) into #001122, rgba(0,17,34)
$bg-medium: shade( $base-color, 75% ); // transforms #0088FF, rgba(0,136,255) into #002244, rgba(0,34,68)
$bg-light: shade( $base-color, 50% );  // transforms #0088FF, rgba(0,136,255) into #004488, rgba(0,58,136)
$bg-bright: $base-color;

$white: #E8E8E8;
$white-light: white;
$white-dark: #D8D8D8;

$gray-dark: #686868;
$gray: #888888;
$gray-light: #B8B8B8;

$black: #101010;
$black-light: #181818;
$black-dark: #222222;

$transparent-black: rgba(black,0);

$drop-shadow-large: 16px;
$drop-shadow-medium: 8px;
$drop-shadow-small: 4px;

$text-bg: $white;
$text-fg: $black;
$text-bg-active: $white-light;
$text-fg-active: $black-dark;
$text-bg-inactive: $white-dark;
$text-fg-inactive: $black-light;
$text-bg-disabled: $gray-light;
$text-fg-disabled: $gray-dark;

$window-fg-active: $text-fg-active;
$window-bg-active: $text-bg-active;
$window-fg-inactive: $text-fg-inactive;
$window-bg-inactive: $text-bg-inactive;

$menu-bg-active: $bg-light;
$menu-fg-active: choose-contrast-color($menu-bg-active, $white, $black);
$menu-bg-inactive: $bg-dark;
$menu-fg-inactive: choose-contrast-color($menu-bg-inactive, $white-dark, $black-light);
$menu-bg-disabled: $gray-light;
$menu-fg-disabled: $gray-dark;
$menu-bg-hover: $bg-light;
$menu-fg-hover: choose-contrast-color($menu-bg-inactive, $white, $black);
$menu-bg-active-hover: $bg-bright;
$menu-fg-active-hover: choose-contrast-color($menu-bg-inactive, $white-light, $black-dark);

$success-bg-color: #080;
$success-fg-color: choose-contrast-color($success-bg-color, $white-light, $black-dark);;
$warning-bg-color: #F60;
$warning-fg-color: choose-contrast-color($warning-bg-color, $white-dark, $black-light);;
$error-bg-color: #800;
$error-fg-color: choose-contrast-color($error-bg-color, $white-dark, $black-light);;
$info-bg-color: #048;
$info-fg-color: choose-contrast-color($info-bg-color, $white-dark, $black-light);;
