$assetsRoot: "assets/";
$imagesRoot: $assetsRoot+"images/";
$fontsRoot:  $assetsRoot+"fonts/";

// transitions ------------------------------------------------------------------------------------
$transition-duration-slow: 0.5s;
$transition-duration-medium: 0.125s;
$transition-duration-fast: 0.08s;

// filters:
$glass-blur: blur(10px);

// colors ------------------------------------------------------------------------------------
// the base color should be the 'accent' color of the interface
$theme-color: #08F; // #0088FF, rgba(0,136,255)

$white: #E8E8E8;
$white-light: white;
$white-dark: #D8D8D8;

$gray: #888888;
$gray-light: #B8B8B8;
$gray-dark: #686868;

$black: #101010;
$black-light: #222222;
$black-dark: #181818;

$shade-variants:(
    dark:-87.5%,
    medium:-66%,
    light:-50%,
    bright:0%,
);

$bg-dark: scale-color( $theme-color, $lightness: map-get($shade-variants,dark) ); // transforms #0088FF, rgba(0,136,255) into #001122, rgba(0,17,34)
$bg-medium: scale-color( $theme-color, $lightness: map-get($shade-variants,medium) ); // transforms #0088FF, rgba(0,136,255) into #002244, rgba(0,34,68)
$bg-light: scale-color( $theme-color, $lightness: map-get($shade-variants,light) );  // transforms #0088FF, rgba(0,136,255) into #004488, rgba(0,58,136)
$bg-bright: scale-color( $theme-color, $lightness: map-get($shade-variants,bright) );

$colors:(
    default: $bg-medium,
    primary: $theme-color,
    secondary: desaturate($theme-color, 100%),
    success: #00FF00,
    warning: #F80,
    error: #F00,
    info: #0CF,
    light: $white,
    dark: $black,
);

$transparent-black: rgba(0,0,0,0);

$drop-shadow-large: 16px;
$drop-shadow-medium: 8px;
$drop-shadow-small: 4px;

$text-bg: $white;
$text-fg: $black;
$text-bg-active: $white-light;
$text-fg-active: $black-dark;
$text-bg-inactive: $white-dark;
$text-fg-inactive: $black-light;
$text-bg-disabled: $gray-light;
$text-fg-disabled: $gray-dark;

$window-fg-active: $text-fg-active;
$window-bg-active: $text-bg-active;
$window-fg-inactive: $text-fg-inactive;
$window-bg-inactive: $text-bg-inactive;

$menu-bg-active: $bg-medium;
$menu-fg-active: findContrastColor($menu-bg-active, $white, $black);
$menu-bg-inactive: $bg-dark;
$menu-fg-inactive: findContrastColor($menu-bg-inactive, $white-dark, $black-light);
$menu-bg-hover: $bg-light;
$menu-fg-hover: findContrastColor($menu-bg-inactive, $white, $black);
$menu-bg-active-hover: $bg-bright;
$menu-fg-active-hover: findContrastColor($menu-bg-inactive, $white-light, $black-dark);
$menu-bg-disabled: $gray-light;
$menu-fg-disabled: $gray-dark;
