html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Roboto, Verdana, Geneva, sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

// margin and padding shortcuts in 1em increments
@each $x in (0,1,2,3,4,5,6) {
    .m-#{$x}  {margin:#{$x}em;}
    .ml-#{$x} {margin-left:#{$x}em;}
    .mr-#{$x} {margin-right:#{$x}em;}
    .mt-#{$x} {margin-top:#{$x}em;}
    .mb-#{$x} {margin-bottom:#{$x}em;}
    .mlr-#{$x}{margin:0 #{$x}em;}
    .mtb-#{$x}{margin:#{$x}em 0;}
    .p-#{$x}  {padding:#{$x}em;}
    .pl-#{$x} {padding-left:#{$x}em;}
    .pr-#{$x} {padding-right:#{$x}em;}
    .pt-#{$x} {padding-top:#{$x}em;}
    .pb-#{$x} {padding-bottom:#{$x}em;}
    .plr-#{$x}{padding:0 #{$x}em;}
    .ptb-#{$x}{padding:#{$x}em 0;}
}

// grid layout setup
$layoutcols:12;
.row
{
    width:100%;
    display:block;
    border:0px solid red;
}
@for $x from 1 through $layoutcols{
    .col-#{$x}{
        display:inline-block;
        width:(100%*($x/$layoutcols));
        text-align:left;
        border:0px solid green;
    }
    .offset-#{$x}{
        display:inline-block;
        margin-left:(100%*($x/$layoutcols));
    }
}

.tabs {
    margin: auto;
    min-height: 200px;
    width: 280px;

    .tabPanel {
        overflow-y: scroll;
    }
}
